h1{
    text-align: center;
}
#btns{
    text-align: center;
}
#about{
    display: none;
}
#pat{
    display: none;
}

#app{
    display: none;
}

/* This was so cards did not shrink when only one card was shown */
.row{
    min-width: 100%;
    
}
